<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - ColoWebApp</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/Client">Clients</a>
    <a href="/Rack">Racks</a>
    <a href="/Report">Reports</a>
   </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
